@charset "UTF-8";

/*!
 * 내 다이어리 페이지 관련 CSS
 */
 
body {
	background-color: #f8effa
}
 
div#s_left {
	width: 200px;
	height: 500px;
	float: left;
	border: 3px solid #b991f5;
	margin: 5px;
	border-radius: 1em;
	display: block;
	word-break: keep-all;
    text-align: justify;
}
	
#contents {
	width: 755px;
	height: 200px;
	float: left;
	border: 3px solid #b991f5;
	margin: 5px;
	border-radius: 1em;
	text-align: left;
	line-height: 31px;
}
	
#img {
	width: 240px;
	height: 270px;
	float: left;
	border: 3px solid #b991f5;
	background-color: #b991f5;
	margin: 5px;
	border-radius: 1em;
}

#logo {
	display: block;
	margin: auto;
}

#myProfile {
	border: 3px solid #b991f5;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	position: absolute;
    top: 220px;
    left: 35px; 
	overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-all;
}


#image-thumbnail {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

#img-button {
	background: url("assets/img/myDiary/p_pencil.png") no-repeat;
	border: 1px;
	cursor: pointer;
}

#userBox {
	width: 110px;
	height: 147px;
	position: absolute;
	top: 390px;
    left: 65px; 
    display: block;
}