@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&display=swap');


* {
	font-family: 'Nanum Gothic', sans-serif;
}
thead th {
	background-color: #006DCC;
	color: white;
	text-align: center;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr td:last-child {
		border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
h5 {
	font-family : 'Nanum Gothic';
	font-size : 15px;
}
h4 {
	font-family : 'Nanum Gothic';
}
h3 {
	font-family : 'Nanum Gothic';
}
h2 {
	font-family : 'Nanum Gothic';
}
h1 {
	font-family : 'Nanum Gothic';
}
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: none;
}
